<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteBase /ingbling/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /ingbling/index.php [L]
</IfModule>